/* Global styles */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


html {
    background-color: #ffffff;
    font-family: Avenir;
    font-size: 10px;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 1440px;
    overflow: hidden;
    width: 100%
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #000C4C;
}

h1 {
    font-family: Avenir;
    font-size: 3.6rem;
    font-weight: 50;
    color: #000C4C;
    margin: 0 0 1.5rem;
}

h2 {
    font-family: Avenir;
    font-size: 2rem;
    color: #000C4C;
    margin: 0 0 .5rem;
}

h3 {
    font-family: Avenir;
    font-size: 2rem;
    font-weight: 300;
    color: #000C4C;
    margin: 0 0 .5rem;
}

p {
    font-family: Avenir;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: .5px;
    color: #000C4C;
    margin: 0;
}

.primary-btn {
    background-color: #000C4C;
    border: none;
    color: #FFCDB2;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: .5rem;
}

.secondary-btn {
    background-color: #7A306C;
    border: none;
    color: #FFCDB2;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: .5rem;
}

/* header styles */

.logo-navbar {
    padding-top: 10px;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .logo-navbar {
        text-align: left;
    }
}



nav {
    display: block;
    position: relative;
    z-index: 2000;
}


@media screen and (min-width: 1024px) {
    .navbar-wrapper {
        display: flex;
    }
}




.links-navbar {
    display: flex;
    list-style: none;
}

@media screen and (min-width: 1024px) {
    .links-navbar {
        width: 40%;
        align-items: center;
        margin-left: auto;
    }
}

.links-navbar li {
    width: 33.3334%;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .links-navbar li {
        text-align: left;
    }
}

.links-navbar li a {
    padding: 10px;
    display: block;
    font-size: 18px;
}

.header-image {
    padding: 10px;
}


.right-wrapper {
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .right-wrapper {
        padding: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .right-wrapper {
        width: 55%;
        margin-left: auto;
        padding-top: 10rem;
    }
}


@media screen and (min-width: 1024px) {
    .left-wrapper {
        margin-left: 6rem;
    }
}

@media screen and (min-width: 1280px) {
    .left-wrapper {
        margin-left: 25rem;
    }
}


.contact-text h1,
.contact-text h3 {
    color: #FFCDB2;
}



.left-right {
    display: block;
}

@media screen and (min-width: 768px) {
    .left-right {
        display: flex;
    }
}

.see-work {
    text-align: center;
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .see-work a {
        font-size: 18px;
    }
}

.see-triangle {
    padding: 5px;
    display: block;
    margin: 0 auto;
}


.carecloud-project {
    display: block;
    position: relative;
    padding-bottom: 70px;
}

@media screen and (min-width: 1024px) {
    .carecloud-project {
        display: flex;
    }
}

.right-project1 {
    position: absolute;
    bottom: 0rem;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .right-project1 {
        bottom: 20rem;
    }
}

@media screen and (min-width: 1024px) {
    .right-project1 {
        position: relative;
        bottom: 0rem;
        width: 40%;
        align-self: center;

    }
}

@media screen and (min-width: 1024px) {
    .left-project1 {
        position: relative;
        width: 60%;
    }
}


@media screen and (min-width: 1024px) {
    .bkg-triangle1 {
        position: relative;
    }
}


.carecloud-desktop {
    position: absolute;
    top: 10%;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .carecloud-desktop {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.carecloud-text {
    position: relative;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .carecloud-text {
        text-align: left;
    }
}

.jasmine-project {
    display: block;
    position: relative;
    padding-bottom: 110px;
}

@media screen and (min-width: 1024px) {
    .jasmine-project {
        display: flex;
    }
}

.right-project2 {
    position: relative;
}

@media screen and (min-width: 1024px) {
    .right-project2 {
        position: relative;
        width: 60%;
        text-align: right;
    }
}

.jasmine-desktop {
    position: absolute;
    width: 100%;
    top: 75px;
}

@media screen and (min-width: 1024px) {
    .jasmine-desktop {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.bkg-triangle2 {
    position: relative;
}

.left-project2 {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .left-project2 {
        bottom: 26rem;
    }
}

@media screen and (min-width: 1024px) {
    .left-project2 {
        position: relative;
        bottom: 0rem;
        width: 40%;
        align-self: center;

    }
}

.jasmine-text {
    position: relative;
    text-align: center;
    z-index: 1;
}

@media screen and (min-width: 1024px) {
    .jasmine-text {
        text-align: right;

    }
}


#contact-section {
    position: relative;
    background-color: #085A6B;
    text-align: center;
    padding: 3rem;
}

@media screen and (min-width: 768px) {
    #contact-section {
        padding: 4.5rem;
    }
}

@media screen and (min-width: 1024px) {
    #contact-section {
        padding: 7rem;
    }
}

#contact-section p {
    text-align: left;
    line-height: 27px;
    padding: 2rem 0 3rem 0;
    width: 100%;
    color: #FFCDB2;
}

@media screen and (min-width: 768px) {
    #contact-section p {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    #contact-section p {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px) {
    #contact-section p {
        width: 50%;
        margin: 0 auto;
    }
}

.footer-section {
    display: block;
    width: 100%;
    position: relative;
    background-color: #E5E5E5;
}

.copyright {
    display: flex;
    justify-content: center;
    align-self: center;
}

@media screen and (min-width: 1024px) {
    .copyright {
        justify-content: left;
        padding-left: 10px;
    }
}

.copyright-image {
    align-self: center;
}

.copyright p {
    position: relative;
    font-size: 12px;
    align-self: center;
    margin-left: 5px;
}

.footer-section ul {
    display: flex;
    list-style-type: none;
    color: #000C4C;

}

.footer-section li {
    width: 25%;
    text-align: center;
    padding-top: 10px;
}

@media screen and (min-width: 1024px) {
    .footer-section li {
        padding-top: 20px;
    }
}

.hero-section {
    display: block;
    padding: 1rem;
    text-align: center;
    background-color: #085A6B;
}

.hero-section .title {
    margin: 1rem 0;
}

.summary {
    margin: 1rem 0;
}


.summary p {
    text-align: left;
    margin: 0 auto;
    padding: 1rem 0;
}

@media screen and (min-width: 768px) {
    .summary p {
        width: 75%;
    }
}

@media screen and (min-width: 1280px) {
    .summary p {
        width: 55%;
    }
}

.hero-section h1,
.hero-section h3,
.hero-section h2,
.hero-section p {
    color: #FFCDB2;
}

@media screen and (min-width: 768px) {
    .problem-hexagon {
        display: flex;
    }
}

.problem-section {
    padding: 1rem 0;
}

@media screen and (min-width: 768px) {
    .problem-section {
        width: 50%;
    }
}



@media screen and (min-width: 1024px) {
    .problem-section {
        width: 70%;
    }
}


@media screen and (min-width: 1280px) {
    .problem-section {
        width: 60%;
        padding-top: 3rem;
        padding-bottom: 0rem;
    }
}

.solution {
    padding: 1rem 0;
}


@media screen and (min-width: 1280px) {
    .solution {
        padding-top: 2rem;
    }
}

@media screen and (min-width: 1280px) {
    .problem-solution p {
        width: 90%;
    }
}



.hexagon-section {
    position: relative;
}

@media screen and (min-width: 768px) {
    .hexagon-section {
        width: 50%;
        top: -4rem;
    }
}


@media screen and (min-width: 1024px) {
    .hexagon-section {
        width: 40%;
        top: -5rem;
    }
}

@media screen and (min-width: 1280px) {
    .hexagon-section {
        width: 40%;
        top: -8rem;
    }
}

.large-hexagon {
    position: relative;
}


.role-tools {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}


@media screen and (min-width: 768px) {
    .role-tools {
        top: 38%;
    }
}

@media screen and (min-width: 1024px) {
    .role-tools {
        top: 50%;
    }
}



.role-tools ul {
    position: relative;
    list-style-type: none;
    z-index: 1;
}

.role-tools ul.tool-text {
    margin-top: 5px;
}

.role-tools p {
    font-size: 14px;
    line-height: 20px;
}

@media screen and (min-width: 1280px) {
    .role-tools p {
        font-size: 16px;
        line-height: 25px;
    }
}

@media screen and (min-width: 1280px) {
    .role-tools h3 {
        font-size: 22px;
        line-height: 30px;
    }
}




.role-tools-side {
    width: 50%;
    margin-left: 1rem;
}

.deliverable-side {
    width: 60%;
}

@media screen and (min-width: 1280px) {
    .role-tools-side {
        margin-left: 3rem;
    }
}


@media screen and (min-width: 1024px) {
    .user-research {
        display: inline-block;
        position: relative;
    }
}


.survey-bkg {
    display: none;
}

@media screen and (min-width: 1024px) {
    .survey-bkg {
        display: block;
    }
}


@media screen and (min-width: 1024px) {
    .usersurvey {
        display: flex;
        position: absolute;
        top: 15%;
    }
}


.usersurvey-text {
    position: relative;
    padding: 1rem;
    background-color: #E5E5E5;
}

@media screen and (min-width: 1024px) {
    .usersurvey-text {
        padding-top: 2rem;
        width: 50%;
        position: relative;
        top: 0%;
        background-color: transparent;
    }
}

@media screen and (min-width: 1024px) {
    .usersurvey-text p {
        width: 80%;
        position: relative;
        top: 0%;
        background-color: transparent;
        padding-top: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    .usersurvey-text p {
        width: 70%;
    }
}

.usersurvey-stats {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 1rem;
    background-color: #E5E5E5;
}

@media screen and (min-width: 1024px) {
    .usersurvey-stats {
        width: 50%;
        position: relative;
        background-color: transparent;
    }
}

@media screen and (min-width: 1280px) {
    .usersurvey-stats {
        margin-top: 30px;
    }
}



.stat1 {
    width: 100%;
    display: flex;
}

.stat1 p {
    font-size: 14px;
    line-height: 20px;
    align-self: center;
}

@media screen and (min-width: 1280px) {
    .stat1 p {
        font-size: 16px;
        line-height: 25px;
    }
}


.stat-circle1 {
    height: 70px;
    width: 70px;
    background-color: #7A306C;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.stat-circle1 h3 {
    line-height: 70px;
    text-align: center;
    margin: 0 auto;
    color: #FFCDB2;
}

.stat2 {
    display: flex;
    width: 100%;
    padding-top: 10px;
}

@media screen and (min-width: 1024px) {
    .stat2 {
        width: 90%;
        margin-left: 30px;
    }
}



.stat2 p {
    font-size: 14px;
    line-height: 20px;
    align-self: center;

}

@media screen and (min-width: 1280px) {
    .stat2 p {
        font-size: 16px;
        line-height: 25px;
    }
}


.stat-circle2 {
    height: 70px;
    width: 70px;
    background-color: #085A6B;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.stat-circle2 h3 {
    line-height: 70px;
    text-align: center;
    margin: 0 auto;
    color: #FFCDB2;
}

.competitive-analysis {
    display: block;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .competitive-analysis {
        display: flex;
    }
}


@media screen and (min-width: 1024px) {
    .competitive-analysis {
        display: flex;
        position: relative;
    }
}


@media screen and (min-width: 768px) {
    .competitive-left {
        width: 35%;
    }
}

.competitive-left p {
    margin-top: 10px;
}


.checkmarklist {
    margin: 1rem;
}

.checkmarklist ul {
    list-style-type: none;
    font-family: Avenir;
    font-size: 1.6rem;
    font-weight: 300;
    color: #000C4C;
}

.list-text {
    vertical-align: super;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .competitive-right {
        width: 65%;
    }
}


.competitor-images {
    text-align: right;
    margin-top: -10rem;

}


@media screen and (min-width: 768px) {
    .competitor-images {
        display: flex;
        width: 36%;
        margin-top: 0rem;
    }
}

.competitive-right p {
    margin-top: 10px;
}

.user-personas {
    background-color: #E5E5E5;
    padding: 1rem;
    margin-bottom: 1rem;
}



@media screen and (min-width: 1024px) {
    .persona-text-images {
        display: flex;
    }
}

.persona-caption p {
    font-size: 12px;
    line-height: 15px;
    margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
    .persona-caption p {
        display: none;
    }
}


@media screen and (min-width: 1024px) {
    .persona-text {
        width: 30%;
    }
}

@media screen and (min-width: 1024px) {
    .persona-text p {
        width: 95%;
    }
}

@media screen and (min-width: 1280px) {
    .persona-text p {
        width: 90%;
    }
}

@media screen and (min-width: 1280px) {
    .user-personas h2 {
        margin-top: 1rem;
    }
}



.persona-images {
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
    .persona-images {
        text-align: center;
        display: flex;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .persona2 {
        width: 80%;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    .persona2 {
        width: 90%;
        margin-right: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .persona1 {
        width: 60%;
    }
}

@media screen and (min-width: 1280px) {
    .persona1 {
        width: 70%;
        margin-right: 3rem;
    }
}


@media screen and (min-width: 1024px) {
    .user-stories {
        display: flex;
        padding-bottom: 1rem;
    }
}

.stories-text {
    padding: 1rem;
}

@media screen and (min-width: 1024px) {
    .stories-text {
        width: 40%;
    }
}

@media screen and (min-width: 1280px) {
    .stories-text {
        width: 35%;
    }
}


.flow-text {
    padding: 1rem;
}

@media screen and (min-width: 1024px) {
    .user-flow {
        display: flex;
        position: relative;
    }
}

@media screen and (min-width: 1024px) {
    .flow-left {
        width: 45%;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    .flow-text {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .flow-right {
        width: 55%;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .wireframe {
        display: flex;
        margin: 2rem 0;
    }
}

.wire-left {
    background-color: #E5E5E5;
    text-align: center;
    padding: 1rem;
    position: relative;
}

@media screen and (min-width: 1024px) {
    .wire-left {
        width: 30%;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    .wire-left h2 {
        margin-top: 1rem;
    }
}

.wire-left h2,
.wire-left p {
    text-align: left;
}

@media screen and (min-width: 768px) {
    .wire-left p {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .wire-left p {
        text-align: left;
    }
}

.wire-left img {
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
    .wire-left img {
        width: 40%;
        position: relative;
    }
}

@media screen and (min-width: 1024px) {
    .wire-left img {
        width: 100%;
        position: relative;
    }
}

.wire-right {
    background-color: #E5E5E5;
    padding: 1rem;
    margin: 1.5rem 0;
}

@media screen and (min-width: 768px) {
    .wire-right {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .wire-right {
        width: 70%;
        margin: 0;
    }
}

.wire-right p {
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .wire-right p {
        text-align: left;
    }
}


@media screen and (min-width: 768px) {
    .wire-right img {
        width: 40%;
    }
}


@media screen and (min-width: 1024px) {
    .style-left-right {
        display: flex;
    }
}

.style-left {
    padding: 1rem;
}

@media screen and (min-width: 1024px) {
    .style-left {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .style-left p {
        width: 90%;
    }
}


@media screen and (min-width: 1024px) {
    .style-right {
        width: 60%;
    }
}

@media screen and (min-width: 1280px) {
    .style-right {
        text-align: right;
    }
}


.style-bottom {
    text-align: center;
    margin-bottom: 1rem;
}

.mockup-bkg {
    display: none;
}

.hi-fi-mockups {
    background-color: #E5E5E5;
}

@media screen and (min-width: 768px) {
    .hi-fi-mockups {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .hi-fi-mockups {
        display: flex;
        padding: 1rem 0;
    }
}


.mockups-left h2 {
    padding: 1rem 1rem 0 1rem;
}

.mockups-left p {
    padding: 0 1rem 1rem 1rem;
}

.mockups-right {
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {

    .hi-fi-mockups h2,
    .hi-fi-mockups p {
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {
    .mockups-right {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .testing {
        display: flex;
        padding: 1rem 0;
    }
}

.testing-left {
    padding: 1rem;
}

@media screen and (min-width: 1024px) {
    .testing-left {
        width: 30%;
    }
}

@media screen and (min-width: 1280px) {
    .testing-left {
        margin-right: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .testing-left p {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .testing-right {
        width: 70%;
        margin: 1rem 0;
    }
}

.hi-fi-mockups2 {
    background-color: #E5E5E5;
}

@media screen and (min-width: 1024px) {
    .hi-fi-mockups2 {
        display: flex;
        padding: 1rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .mockups-left2 {
        width: 50%;
        margin-right: 3rem;
    }
}

.mockups-left2 h2 {
    padding: 1rem 1rem 0 1rem;
}

.mockups-left2 p {
    padding: 0 1rem 1rem 1rem;
}

.mockups-right2 {
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .mockups-right2 {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .mockups-right2 {
        margin-top: 1rem;
        width: 40%;
    }
}

.usability-testing {
    padding: 1rem 0;
}

@media screen and (min-width: 1024px) {
    .usability-testing {
        display: flex;
        padding: 2rem 0;
    }
}


.usability-right {
    padding: 1rem;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .usability-right {
        width: 50%;
    }
}


.usability-right p {
    text-align: left;
    margin-bottom: 1rem;
}

.conclusion {
    background-color: #085A6B;
    padding: 1rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .conclusion {
        padding: 3rem;
    }
}

@media screen and (min-width: 1280px) {
    .conclusion {
        padding: 5rem;
    }
}


.conclusion h2 {
    padding: 1rem;
    color: #FFCDB2;
}

.conclusion p {
    color: #FFCDB2;
    text-align: left;
    margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
    .conclusion p {
        padding: 0 6rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .conclusion p {
        padding: 0 10rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1280px) {
    .conclusion p {
        padding: 0 20rem;
        margin-bottom: 1.5rem;
    }
}

.top-about {
    padding: 2.5rem 0;
}

@media screen and (min-width: 768px) {
    .left-about {
        width: 49%;
        margin-left: 5rem;
    }
}

@media screen and (min-width: 1024px) {
    .left-about {
        width: 50%;
        margin-left: 10rem;
    }
}

@media screen and (min-width: 1280px) {
    .left-about {
        width: 39%;
        margin-left: 26rem;
    }
}

@media screen and (min-width: 1440px) {
    .left-about {
        width: 35%;
        margin-left: 31rem;
    }
}

@media screen and (min-width: 768px) {
    .right-about {
        position: absolute;
        width: 45%;
        right: 8%;
        top: 17%;
    }
}

@media screen and (min-width: 1024px) {
    .right-about {
        width: 40%;
        right: 10%;
        top: 17%;
    }
}

@media screen and (min-width: 1280px) {
    .right-about {
        width: 39%;
        right: 15%;
        top: 18%;
    }
}

@media screen and (min-width: 1440px) {
    .right-about {
        width: 39%;
        right: 19%;
        top: 17%;
    }
}

.main-about {
    position: relative;
}

@media screen and (min-width: 768px) {
    .main-about {
        margin-top: 10%;
    }
}

@media screen and (min-width: 1024px) {
    .main-about {
        margin-top: 15%;
    }
}

@media screen and (min-width: 1280px) {
    .main-about {
        margin-top: 20%;
    }
}

.photo-bkg-desktop {
    display: none;
}

.bkg-mobile {
    position: relative;
}

@media screen and (min-width: 768px) {
    .bkg-mobile {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .photo-bkg-desktop {
        position: relative;
        display: block;

    }
}


.about-me1 {
    position: absolute;
    width: 90%;
    top: 5%;
    margin-left: 1.5rem;
}

@media screen and (min-width: 768px) {
    .about-me1 {
        width: 45%;
        left: 27%;
        top: .25%;
    }
}

@media screen and (min-width: 1024px) {
    .about-me1 {
        width: 44%;
        left: 27%;
        top: 2%;
    }
}

@media screen and (min-width: 1280px) {
    .about-me1 {
        width: 40%;
        left: 29%;
        top: 3%;
    }
}


.about-me1 p {
    font-size: 14px;
    line-height: 21px;
}


@media screen and (min-width: 768px) {
    .about-me1 p {
        font-size: 14px;
        line-height: 19px;
    }
}

@media screen and (min-width: 1024px) {
    .about-me1 p {
        font-size: 16px;
        line-height: 27px;
    }
}

.about-me2 {
    position: absolute;
    top: 54%;
    width: 93%;
    margin-left: 1.5rem;

}

@media screen and (min-width: 768px) {
    .about-me2 {
        width: 44%;
        right: 3%;
        top: 27%;
    }
}


@media screen and (min-width: 1024px) {
    .about-me2 {
        width: 44%;
        right: 3%;
        top: 28%;
    }
}

@media screen and (min-width: 1280px) {
    .about-me2 {
        width: 40%;
        right: 4%;
        top: 34%;
    }
}




.about-me2 p {
    color: #FFCDB2;
    font-size: 14px;
    line-height: 22px;
}

@media screen and (min-width: 768px) {
    .about-me2 p {
        font-size: 14px;
        line-height: 19px;
    }
}

@media screen and (min-width: 1024px) {
    .about-me2 p {
        font-size: 16px;
        line-height: 27px;
    }
}

.about-me3 {
    position: absolute;
    width: 95%;
    bottom: 1%;
    margin-left: 1.5rem;

}

@media screen and (min-width: 768px) {
    .about-me3 {
        width: 45%;
        bottom: 1%;
        left: 26%;
    }
}

@media screen and (min-width: 1024px) {
    .about-me3 {
        width: 43%;
        bottom: 1%;
        left: 27%;
    }
}


@media screen and (min-width: 1280px) {
    .about-me3 {
        width: 40%;
        bottom: 4%;
        left: 29%;
    }
}

.about-me3 p {
    font-size: 14px;
    line-height: 21px;
}

@media screen and (min-width: 768px) {
    .about-me3 p {
        font-size: 14px;
        line-height: 19px;
    }
}

@media screen and (min-width: 1024px) {
    .about-me3 p {
        font-size: 16px;
        line-height: 27px;
    }
}



/*@media screen and (min-width: 768px) {
    .right-wrapper {
        align-self: center;
    }
}

.top-about {
    display: flex;
}

.left-about {
    margin-left: 300px;
    margin-top: 100px;
    width: 70%;
}

.left-about p {
    margin-top: 30px;
    font-size: 24px;
    line-height: 35px;
}


.right-about {
    margin: 125px;
    margin-left: -260px;
}

.main-about {
    display: flex;
}

.about-bkg {
    position: relative;
    z-index: 0;
    text-align: center;
}

.about-me1 {
    position: absolute;
    z-index: 1;
    width: 42%;
    top: -5%;
    left: 8%;
    transform: translate(50%, 50%)
}

.about-me2 {
    position: absolute;
    z-index: 1;
    width: 41%;
    top: 20%;
    right: 26%;
    transform: translate(50%, 50%);
}


.about-me2 p {
    color: #FFCDB2;
}

.about-me3 {
    position: absolute;
    z-index: 1;
    width: 40%;
    top: 78%;
    left: 10%;
    transform: translate(50%, 50%);
}*/